<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.huangxin.mango.mapper.MangoShopMapper">
    <resultMap id="BaseResultMap" type="work.huangxin.mango.model.MangoShop">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="shop_id" jdbcType="INTEGER" property="shopId"/>
        <result column="shop_name" jdbcType="VARCHAR" property="shopName"/>
        <result column="shop_intro" jdbcType="VARCHAR" property="shopIntro"/>
        <result column="shop_phone" jdbcType="VARCHAR" property="shopPhone"/>
        <result column="shop_avatar" jdbcType="VARCHAR" property="shopAvatar"/>
        <result column="shop_latitude" jdbcType="VARCHAR" property="shopLatitude"/>
        <result column="shop_longitude" jdbcType="VARCHAR" property="shopLongitude"/>
        <result column="shop_creat_time" jdbcType="TIMESTAMP" property="shopCreatTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        shop_id, shop_name, shop_intro, shop_phone, shop_avatar, shop_latitude, shop_longitude,
        shop_creat_time
    </sql>
    <resultMap type="work.huangxin.mango.model.MangoShop" id="getShopDetailById">
        <!-- 关联对象 -->
        <id column="shop_id" jdbcType="INTEGER" property="shopId"/>
        <result column="shop_name" jdbcType="VARCHAR" property="shopName"/>
        <result column="shop_intro" jdbcType="VARCHAR" property="shopIntro"/>
        <result column="shop_phone" jdbcType="VARCHAR" property="shopPhone"/>
        <result column="shop_avatar" jdbcType="VARCHAR" property="shopAvatar"/>
        <result column="shop_latitude" jdbcType="VARCHAR" property="shopLatitude"/>
        <result column="shop_longitude" jdbcType="VARCHAR" property="shopLongitude"/>
        <result column="shop_creat_time" jdbcType="TIMESTAMP" property="shopCreatTime"/>
        <!--<collection property="shopImages" ofType="String"-->
                    <!--javaType="list">-->
            <!--<result column="mango_shop_images.shop_images" javaType="String"></result>-->
        <!--</collection>-->

        <collection property="shopImages" ofType="work.huangxin.mango.model.MangoShopBusiness" javaType="list">
            <result column="mango_shop_business.shop_goods_image" javaType="String"></result>
            <result column="mango_shop_business.shop_goods_title" javaType="String"></result>
            <result column="mango_shop_business.shop_goods_price" javaType="String"></result>
        </collection>

    </resultMap>


</mapper>