<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="work.huangxin.mango.mapper.MangoShopImagesMapper">
  <resultMap id="BaseResultMap" type="work.huangxin.mango.model.MangoShopImages">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="shop_detail_id" jdbcType="INTEGER" property="shopDetailId" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="shop_images" jdbcType="VARCHAR" property="shopImages" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    shop_detail_id, shop_id, shop_images
  </sql>
</mapper>